@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@import "./functions";

:root {
  --SitePrimaryColor: #eaeaed;
  --SiteSecondaryColor: #43a3df;
  --SiteTertiaryColor: #8d8d8e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--SitePrimaryColor) !important;
}

.GlobalNav {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  top: 0;
  // background-color: var(--SitePrimaryColor);
  @include alignCenter();
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;

  .logo {
    position: relative;
    margin-left: -40px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--SitePrimaryColor);
    border: 2px solid var(--SiteTertiaryColor);

    @include alignCenter();
    svg,
    img {
      margin-top: 15%;
      margin-left: 15%;
      width: 40%;
      height: 40%;
    }
  }

  ul {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: transparent;
    // background-color: var(--SitePrimaryColor);

    @include alignCenter();
    flex-direction: row;
    justify-content: space-evenly;

    > * {
      background-color: var(--SiteTertiaryColor);
      border: 2px solid var(--SitePrimaryColor);
      width: 70px;
      height: 100%;
      position: relative;
      @include alignCenter();

      svg {
        position: absolute;
        width: 50%;
        height: 50%;
        fill: var(--SitePrimaryColor);
        z-index: 1;
      }

      &::after {
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--SiteSecondaryColor);
        position: absolute;
        transition: height 300ms;
        transition-delay: 500ms;
      }

      &::before {
        z-index: 0;
        text-align: center;
        font-size: 0.8rem;
        -webkit-text-stroke: 1px var(--SitePrimaryColor);
        border: 2px solid var(--SitePrimaryColor);
        color: var(--SitePrimaryColor);
        content: "Inicio";
        bottom: -20px;
        left: -2px;
        width: 106%;
        height: 20px;
        background-color: var(--SiteSecondaryColor);
        position: absolute;
        transform: rotateX(-90deg);
        transition: transform 500ms;
        transform-origin: top;
        perspective: 50px;
      }

      &:hover {
        &::after {
          transition: height 200ms;
          height: 100%;
        }

        &::before {
          transform: rotateX(0deg);
          transition: transform 200ms;
          transition-delay: 200ms;
        }
      }
    }

    .About {
      &::before {
        content: "Mi CV";
      }
    }
    .Contact {
      &::before {
        content: "Contacto";
      }
    }
  }
}

.HomePage {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--SitePrimaryColor);
  color: black;
  @include alignCenter;

  .PaymentSection {
    position: relative;
    border: 2px solid var(--SiteSecondaryColor);
    background: var(--SitePrimaryColor);
    border-radius: 10px;
    height: 70%;
    width: #{"min(400px,95%)"};
    @include alignCenter;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgb(103, 102, 102);
    overflow: hidden;

    .header {
      width: 100%;
      height: 15%;
      @include alignCenter;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: black;

      h1 {
        height: 100%;
        font-size: 1.5rem;
        @include alignCenter;
        font-weight: bolder;
        color: white;
      }

      img {
        width: 70px;
        height: auto;
      }
    }

    hr {
      border: 0;
      clear: both;
      display: block;
      width: 85%;
      background-color: var(--SiteTertiaryColor);
      height: 1px;
    }

    .stripeButtons {
      position: relative;
      width: 100%;
      height: 85%;
      @include alignCenter;
      flex-direction: column;
      justify-content: space-evenly;
      list-style: none;

      h2 {
        font-size: 1.3rem;
        padding: 0px 10%;
        text-align: center;
      }

      li {
        position: relative;
        height: 15%;
        width: 85%;
        border: 2px solid var(--SiteTertiaryColor);
        border-radius: 10px;
        @include alignCenter;
        flex-direction: row;
        justify-content: space-around;
        cursor: pointer;
        transition: background-color 500ms;

        input,
        label {
          pointer-events: none;
          font-size: 1.1rem;
        }

        input,
        label,
        Button {
          position: relative;
        }

        input {
          width: 15px;
          height: 15px;
        }

        svg {
          height: 70%;
          width: auto;
        }

        &:hover {
          background-color: #43a3df6b;
          transition: background-color 500ms;
        }
      }

      Button {
        height: 15%;
        width: 85%;
      }
    }
  }
}

.CanceledPage,
.SuccessPage {
  @include alignCenter;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  div {
    width: #{"min(600px,95%)"};
    position: relative;
  }

  .canceledHeader {
    @include alignCenter;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;

    > * {
      text-align: center;
    }

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .lottieContainer {
    height: 60%;
    @include alignCenter;
  }
}

// .HomePage,
// .CanceledPage,
// .SuccessPage {
// background:
// linear-gradient(45deg, black, white, black);
// }
